@import url('https://fonts.googleapis.com/css?family=Cabin:100,200,300,400,500,600,700|Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,800,900,|Caveat:400,700');



body {
    height:100%;
    width:100%;
    background: url('../images/monkees.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin:0;
}

.overlay {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.75;
    z-index: -1;
}

.row {
	margin: 0!important; 
}


.band-alert {
    font-family: "Barlow+Condensed", sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #ffb4b4cc;
    background-color: #69010100;
    border-color: #69580100;
    padding: 3px 10px;
    margin-bottom: 0px;
}

.animated.infinite {
    -webkit-animation-iteration-count: 4;
    -moz-animation-iteration-count: 4;
    -o-animation-iteration-count: 4;
    animation-iteration-count: 4;
    animation-duration: 8s;
    animation-direction: alternate-reverse;
}



/*********************** NAVIGATION ********************************/




.navbar{
    border-radius: 0;
}

.navbar-default{
    border: none;
    background-color: #fafafa;
    background: rgba(255, 255, 255, 0.04);
  
}

.navbar-default .navbar-nav > li > a {
    color: #A50000;
    margin: 0px 10px;
    text-shadow: 1px 1px #CACFD1;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #BAC4C3;
}


.navbar-nav > li > a {
    line-height: normal;
}

.nav > li > a {
    padding: 15px;
}



.navbar-nav {
    display: table;
    font-size: 1.4em;
    margin: 0 auto;
    table-layout: fixed;
    float: none;
    text-transform: uppercase;
    font-family: "Barlow+Condensed";
    font-weight: 900;
    letter-spacing: 3px;
}

.navbar-header .navbar-brand {
    color: brown;
    text-transform: uppercase;
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.55);
}

.navbar-header .navbar-brand:hover {
    color:#fafafa;
}




/*********************** DROPDOWN ********************************/


.dropdown {

    position: absolute;
    left: 0;
    right: 0;
    top: 53px;
    transform: translateY(-100%);
    cursor: pointer;

}



.dropdown:hover .dropdown-menu {
    display: block;
    max-width: 50%;
    min-height: 100px;
    background-color: transparent;
    font-family: "Barlow+Condensed";
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
}


.dropdown-menu li a {
    color:brown;
    font-family: "Caveat",sans-serif;
    font-size: 1em;
    font-weight: 600;
    background-color: #FCCF81;
}





/*********************** HOME SECTION ********************************/

.first-divider {
    width: 80%;
    height: 3px;
    background-color: #AF713D;
    border: none;
}

.divider {
    width: 350px;
    height: 5px;
    background-color: #AF713D;
    border: none;
}


.main-content {
    padding-bottom: 80px;
}



.band {
    
    display: inherit;
    color:#D7263D;
    font-size: 60px;
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding: 10px 0 10px;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.55);

    }


.band-bio {
    
    display: inherit;
    color:#D7263D;
    font-size: 50px;
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding: 10px 0 10px;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.55);
}


.welcome-msg {
    display: none;
}

 

@media screen and (min-width: 768px) {
    
  .navbar-header {
        display: none;
    }
    
    
  .welcome-msg {
    display: inherit;
    color:#e07785;
    font-size: 1.2em;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding: 0px 0px 40px;
    line-height: normal;
    /*text-shadow: 0px -9px 8px rgba(255,255,255,0.25);*/
    letter-spacing: 1px;
    
    }


   


}

@media screen and (max-width:992px) {
    
   .navbar-default .navbar-nav > li > a {
      color: #A50000;
      margin: 0px 10px;
      text-shadow: 1px 1px #afaee8;
    }
    
 .dropdown-menu li a {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #cce0c7;
 }
 
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: white;
 }
 
   .dropdown {
	position: relative;
	left: 0;
	right: 0;
	top: 0px;
	transform: translateY(0%);
	cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    max-width: 0%;
 
}


}



.img-circle {
    display: block;
    margin: 0 auto;
    padding:10px 20px;
}



img {
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
    
    
}

img.animated {
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: 1;
}






/*******************************************************************************/

blockquote {
    margin:0;
    padding:30px;
    border-left:none;
}


footer {
    float:none;
    text-align: center;
}


blockquote footer {
    color:#f7efef9e;
    font-size:1em;
}


.footer-detail {
    color:brown;
    text-transform: capitalize;
}



/******************************* HEADINGS ************************************************/

h2,
h3{
    text-transform: uppercase;
    color:red;
    font-family:"Cabin";
    font-weight: 800;
    font-size: 2.1em;
}


h4 {
    color: #e2b388db;
    font-family: "Barlow+Condensed";
    letter-spacing: 4px;
    font-weight: 700;
}



/******************************** AUDIO ***********************************************/


.audio-wrapper {
    width:100%;
    height:100%;
    margin:0;
}



.audio-section div {
    min-height: 50vh;
    border-radius: 5px;
   
    box-shadow: 10px 10px 15px 0px rgba(123,81,81,0.7);
}



.audio-section audio {
    border-radius: 50%;
    background:#fafafa;
    box-shadow: 10px 10px 5px 0px rgba(207,207,208,0.75);
}


/*********************** FOOTER ********************************/

.height-container {
    height: 100vh;
}


.main-footer{
    background-color: white;
    background-color: rgba(29, 23, 23, 0.9);
    padding: 10px;
    
    right:0;
    left:0;
    bottom:0;
    clear: both;
    
}



footer p{
    margin-bottom: 0;
}

.footer-detail {
    color:brown;
    text-transform: capitalize;
}

.fa {
  font: oblique normal normal 23px/1 FontAwesome;
}

.fa-twitter {
    color:#7CBADC;
}

.fa-youtube {
    color:#CE0300;
}

.fa-facebook {
    color:#3C58B3;
}

/****************************** ABOUT SECTION *************************************************/


p {
    color:#E7EDF3;
    line-height: 1.1;
    font-family: "Cabin";
    font-weight: 500;
    font-size: 1.25em;
    padding-left: 10px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    
    
}


.about-band {
    width:100%;
    height: auto;
    letter-spacing: 2.8px;
    margin: 0 auto;
    color:#FFE0C6;
}

p.about-band {
    font-size: 1.49em;
    color: #E4C98C;
    letter-spacing: 2.5px;
    text-shadow: 1px 1px 1px #000;
}

.text-center a{
    text-decoration: none;
    color: brown;
    font-family: "Cabin",sans-serif;
    /*font-weight: 600;*/
}

.band-image {
    width: 100%;
    height:auto;
    border: 6px solid #dedede;
    
    border-radius: 5px;
    /*padding-bottom: 10px;*/
}

.band-info {
    background:#792f2fb0;
    box-shadow: 28px 57px 44px 0px rgba(0,0,0,0.75);
    border-radius: 2%;

}


.band-name {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 22px;
    text-transform: capitalize;
    color:#CCC9C9;
    padding-top: 5px;
}

.band-role {
    color: #FCBE53;
    font-family: "Barlow+Condensed", sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
   
}

/*********************** CAROUSEL ***************************************/


.carousel-control.left {
    background-image: linear-gradient(to right,rgba(173, 85, 85, 0.62) 0,rgba(0,0,0,.0001) 100%);
}


.carousel-control.right {
    background-image: linear-gradient(to right,rgba(173, 85, 85, 0.62) 0,rgba(0,0,0,.0001) 100%);
} 



/******************************** CONTACT ***************************/

.form-section {
    
    margin:0 auto;
    text-align: center;
    max-width: 75%;
    min-height: 100px;
    background-color: #4a2307cf;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}


.center-form{
   padding:5px 30px;
}

.button-center {
    margin: 10px 10px;
    color: #FCBE53;
    text-transform: uppercase;
    font-family: "Cabin", sans-serif;
}


 span {
     color:red;
 }


/************************************* VIDEO **************************************/

.form-control {
    color: #022B3A;
    font-size: 17px;
    font-family: "Cabin";
    text-transform: none;
    font-weight: 700;

    border:none;
}

iframe {
    width:100%;
    min-height: 200px;
}


.video-wrapper{
   width:100%;
   height: 100%;
   
}

.video-section div {
    min-height: 50vh;
}

/**************************************** PICTURES ***********************************/

.band-caption {
    position: absolute;
    right:0;
    left:0;
    top: 1%;
    
    color: #FFF4F6;
    font-family: "Cabin", sans-serif;
    font-size: 1.27em;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    
}

