@import url('https://fonts.googleapis.com/css?family=Cabin:100,200,300,400,500,600,700|Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
    background: url('../images/monkees.jpg') no-repeat center center fixed;
    background-size: cover;
    
}


    
.band {
    display: inherit;
    color:#fafafa;
    font-size: 3em;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding: 30px 0 10px;
    line-height: normal;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);

}



.welcome-msg {
    display: inherit;
    color:#fafafa;
    font-size: 1.25em;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding: 0px 0px 40px;
    line-height: normal;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    letter-spacing: 1px;
  }






.navbar{
    border-radius: 0;
    min-height: 0;
}

.navbar-default{
    border: none;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.7);
}

.nav > li > a {
    padding: 30px;
}


.navbar-nav > li > a {
    line-height: normal;
}


.navbar-nav {
    display: table;
    font-size: 1.25em;
    margin: 0 auto;
    table-layout: fixed;
    float: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}


footer{
    background-color: white;
    background-color: rgba(225,225,225,0.9);
    padding: 30px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}

p {
    color: black;
    font-size: 1em;
    line-height: 1.25;
    font-family: "Cabin";
    font-weight: 300;
}

footer p {
    margin:0;
    padding:20px 0px;
}
